<!-- TODO: Ejercicio formulario -->
<h2>Crear usuario</h2>

<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
    <p>
    <label for="name">Nombre</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required>
    <span *ngIf="!name.valid && name.touched">El nombre es requerido</span>
    </p>

    <p>
        <label for="job">Trabajo</label>
        <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required>
        <span *ngIf="!job.valid && job.touched">El trabajo es requerido</span>
    </p>

    <input type="submit" value="Guardar usuario" [disabled]="!newUser.form.valid">
</form>
<!-- Si hay datos de usuario_guardado muestralo por pantalla -->
<div *ngIf="usuario_guardado">
    <h2>El usuario se ha guardado correctamente</h2>
    <p>Nombre: {{ usuario_guardado.name }}</p>
    <p>Trabajo: {{ usuario_guardado.job }}</p>
</div>
<hr>


<!-- Pipe date -->
<p>Pipes de Fechas</p>
<p>{{fecha | date:'dd/MM/YY'}}</p>
<!-- Pipe de fecha y transformación de texto Mayúscula  -->
<p>{{fecha | date:'fullDate' | uppercase}}</p>
<!-- Pipe de transformación de texto minúscula -->
{{ 'HOLA MUNDO USANDO PIPES DE ANGULAR' | lowercase }} 
<!-- Pipe personalizada - Calculadora -->
{{ numero1 | calculadora: numero2}}

<hr>
<div>
    <h1>Petición A Reqres.in</h1>
    <p>Peticion por servicio y cliente Http para recibir un usuario</p>
    <p>Digite un numero del 1 al 12 y presione la tecla Enter</p>
</div>
<input type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()"/>
<div *ngIf="!user">
    Cargando...
</div>
<hr>
<div *ngIf="user">
    <img src="{{user.avatar}}" alt="{{user.name}}">
    <h2>{{user.first_name + ' ' + user.last_name}}</h2>
    <p>Email: {{user.email}}</p>
</div>

