<div [ngStyle]="{'background': config.fondo,
                'padding': '20px',
                'border': '5px solid black',
                'border-color': config.color
                
                }">

<h2>{{titulo}}</h2>
<p>{{descripcion}}</p>
<ul>
    <li>Jagger</li>
    <li>Doc</li>
    <li>Mozzie</li>
    <li>Thunderbird</li>
    <li>Sledge</li>
    <hr>
    <p>VS</p>
    <hr>
    <li>Gridlock</li>
    <li>Zero</li>
    <li>Ash</li>
    <li>Leon</li>
    <li>Kali</li>
</ul></div>
<hr>
<app-player></app-player>