<div>
<h1>Bienvenidos a {{title}}</h1>

<p>¡Hora de aprender angular!</p>

<nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    &nbsp;
    <a [routerLink]="['/xbox']" [routerLinkActive]="['active']">Xbox</a>
    &nbsp;
    <a [routerLink]="['/rainbow']" [routerLinkActive]="['active']">Rainbow</a>
    &nbsp;
    <a [routerLink]="['/player']" [routerLinkActive]="['active']">Player</a>

</nav>

<router-outlet></router-outlet>
</div>
<!-- ? Encendido de Xbox -->


<!-- ? Cargando Videojuego Rainbow -->
<!-- <app-rainbow-six-siege></app-rainbow-six-siege> -->
