#caja-global{
    margin: 0;
    padding: 0;
}


#caja-datos {
    width: 30%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
}
#caja-invitaciones {
    width: 30%;
    float: left;
    height: 100%;
    background-color: #f2f2f2;
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
}

#caja-informacion{
    width: 30%;
    float: right;
    height: 100%;
    background-color: #f2f2f2;
    border: 5px solid green;
    border-radius: 5px;
    padding: 10px;
    
}




#disponible{
    background-color: green;
    color: white;
}

#nodisponible{
    background-color: red;
    color: white;
}