<div id="caja-global">

<div id="caja-datos">

<!-- Lista -->
<ol>
    <li *ngFor="let user of player">
        {{user.nombre}} 
        <p>Nivel:</p><strong 
            [class.altoLevel] ="user.level > 500" 
            [ngClass]="{'nivelBajo': user.level < 20,
                        'nivelMedio': user.level > 20,
                        'nivelAlto': user.level > 90,
                        'nivelPro': user.level > 130,
                        'nivelDiamante': user.level > 150
                            }">
        {{user.level}}</strong>
        <p>El usuario eligió el mapa: {{user.mapa}}</p>
               <span id="disponible" *ngIf="user.disponible == true"> Jugador Disponible</span>
                <span id="nodisponible" *ngIf="user.disponible == false"> Jugador Bloqueado</span>
                <hr>
            </li>
</ol>
</div>
<div id="caja-invitaciones">
    <h2>{{team}}</h2>
    
    <!-- ngModel(Two way data binding) -->
    <p>Agregar amigo:</p>
    <p><input type="text" [(ngModel)]="user_name" (keyup.enter)="alertName()"></p>
    <p>{{user_name}}</p>
    <!-- Función para mostrar alert de Jugador  -->
    <button (click)="myPlayer()">Verifica el nombre</button>
    
    <!-- Funcion para agregar a un Judagor a player -->
    <button (click)="addPlayer()">Agregar amigo</button>
    </div>

<div id="caja-informacion">
    <!-- Información de Jugadores recopilada -->
<p>Amigos Disponibles:</p>
    <ul>
        <li *ngFor="let amigo of jugadores; let indice = index">
            {{indice + ' - ' + amigo}}
            <button (click)="borrarAmigo(indice)">Borrar Amigo</button>
        </li>

    </ul>
    <hr>
    <p>Eleccion de mapa:</p>
    <input type="text" [(ngModel)]="mapa">
    <ul [ngSwitch]="mapa">
        <li *ngSwitchCase="'mapa1'">Los jugadores han seleccionado LITORAL</li>
        <li *ngSwitchCase="'mapa2'">Los jugadores han seleccionado BANCO</li>
        <li *ngSwitchCase="'mapa3'">Los jugadores han seleccionado FAVELAS</li>

    </ul>
</div>
</div>